---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Compression Wars">
  <main class="mx-auto p-4 w-[800px] max-w-[calc(100%-2rem)] text-white text-xl leading-relaxed">
    <h1 class="text-6xl font-bold leading-none text-center mb-8">JPEG XL</h1>
    <h2>A Forgotten King</h2>
  </main>
</Layout>
