---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Compression Wars">
  <main
    class="mx-auto p-8 w-[800px] max-w-[calc(100%-2rem)] text-white text-xl leading-relaxed"
  >
    <div class="bg-black w-fit rounded-xl -rotate-3">
      <h1 class="py-2 text-6xl leading-none text-left m-8">JPEG XL</h1>
    </div>

    <h2
      class="text-2xl leading-none text-left mt-6 mx-12 decoration-[2px] decoration-black decoration-wavy underline underline-offset-8"
    >
      The Forgotten King
    </h2>
    <section class="mt-12 text-right">
      <p>Ahh JPEG XL...</p>
    </section>
  </main>
</Layout>
