---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import JPEGXL from "/images/jpeg-xl.jxl?url&skip";
---

<Layout title="Compression Wars">
  <main
    class="mx-auto p-8 w-[800px] max-w-[calc(100%-2rem)] text-white text-xl leading-relaxed"
  >
    <div class="bg-black w-fit rounded-xl -rotate-3">
      <h1 class="py-2 text-6xl leading-none text-left m-8">JPEG XL</h1>
    </div>

    <h2
      class="text-2xl leading-none text-left mt-6 mb-12 mx-12 decoration-[2px] decoration-black decoration-wavy underline underline-offset-8"
    >
      The Forgotten King
    </h2>
    <section>
      <p class="mt-4">
        If you have used technology in the last 30 years, you have used a JPEG
        before. It's the standard that the majority of the web uses for its
        images, mainly due to its decent enough compression and wide support
        among web browsers.
      </p>
      <p class="mt-4">
        <a></a>JPEG came out in 1992, and the algorithm itself  and a lot has changed since then. The web has
        gotten a lot bigger and more complicated. Websites like Google,
        Instagram, and YouTube have so much complexity under the hood that the
        amount of code shipped to the user's browser is getting larger and
        larger by the day. So why hasn't JPEG found its successor yet?
      </p>
      <p class="my-4">It has! It's called JPEG XL. Check it out below:</p>
      <div
        class="my-8 bg-white border-black border-4 text-black rounded-xl p-8 shadow-[8px_8px_0px_0px_rgba(0,0,0,1)]"
      >
        <Image
          class="rounded"
          src={JPEGXL}
          alt={""}
          width={1600}
          height={1400}
        />
      </div>
      <p class="my-4">
        If I had to guess, you probably don't see anything. Unless you're on
        <a href="https://www.apple.com/safari/" rel="noreferrer" target="_blank"
          >Safari</a
        >, all you'll see is a black border. So why is this? Let's dive in.
      </p>
    </section>

    <br /><br />

    <Footer />
  </main>
</Layout>
