<section class="flex gap-12 mt-12 rounded-xl p-8">
  <p class="text-sm m-0">Works Cited</p>
  <div class="flex flex-col gap-4">
    <p class="text-sm m-0">
      <a
        href="https://aomediacodec.github.io/av1-avif/"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        AVIF Specification
      </a>
      - AOM Media Codec
    </p>
    <p class="text-sm m-0">
      <a
        href="https://www.phoronix.com/news/Chrome-Dropping-JPEG-XL-Reasons"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        Chrome Dropping JPEG XL Support
      </a>
      - Phoronix
    </p>
    <p class="text-sm m-0">
      <a
        href="https://cloudinary.com/blog/how_jpeg_xl_compares_to_other_image_codecs"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        How JPEG XL Compares to Other Image Codecs
      </a>
      - Cloudinary
    </p>
    <p class="text-sm m-0">
      <a
        href="https://www.theverge.com/2015/2/19/8068923/mp3-compression-ghost-suzanne-vega-toms-diner"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        How the MP3 helped bring the music industry to its knees
      </a>
      - The Verge
    </p>
    <p class="text-sm m-0">
      <a
        href="https://jpeg.org/downloads/jpegxl/jpegxl-cfp.pdf"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        JPEG XL Call for Proposals
      </a>
      - Joint Photographic Experts Group
    </p>
    <p class="text-sm m-0">
      <a
        href="https://github.com/libjxl/libjxl/issues/895#issuecomment-991148244"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        JPEG XL Re-encoding Discussion
      </a>
      - GitHub
    </p>
    <p class="text-sm m-0">
      <a
        href="https://www.w3.org/Graphics/JPEG/itu-t81.pdf"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        JPEG Standard (ITU-T81)
      </a>
      - W3C
    </p>
    <p class="text-sm m-0">
      <a
        href="https://www.heise.de/news/JPEG-25-Jahre-und-kein-bisschen-alt-3342519.html"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        JPEG: 25 Jahre und kein bisschen alt
      </a>
      - Heise Online
    </p>
    <p class="text-sm m-0">
      <a
        href="https://www.phoronix.com/news/Mozilla-Neutral-On-JPEG-XL"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        Mozilla's Neutral Stance on JPEG XL
      </a>
      - Phoronix
    </p>
    <p class="text-sm m-0">
      <a
        href="https://surferhelp.goldensoftware.com/subsys/subsys_portable_network_graphic_file_description.htm"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        PNG File Description
      </a>
      - Golden Software
    </p>
    <p class="text-sm m-0">
      <a
        href="https://web.archive.org/web/20111115004238/http://www.john-wiseman.com/technical/MPEG_tutorial.htm"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        An Introduction to MPEG Video Compression
      </a>
      - John Wiseman
    </p>
    <p class="text-sm m-0">
      <a
        href="https://web.archive.org/web/20190406173933/https://www.hevcadvance.com/pdfnew/RoyaltyRatesSummary.pdf"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        HEVC Advance Royalty Rates Summary
      </a>
      - Web Archive
    </p>
    <p class="text-sm m-0">
      <a
        href="https://developers.google.com/speed/webp/docs/webp_study#webp_size_comparison"
        target="_blank"
        rel="noreferrer"
        class="hover:underline"
      >
        WebP Compression Study
      </a>
      - Google Developers
    </p>
  </div>
</section>
