---
import "@fontsource/montserrat/500.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("/css/clash-display.css");
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Montserrat", system-ui, sans-serif;
    background: #fe8403;
  }
  p {
    font-family: "Montserrat", system-ui, sans-serif;
    font-weight: 500;
    margin: 1rem 0;
  }
  h1 {
    font-family: "ClashDisplay-Variable", system-ui, sans-serif;
    font-weight: 700;
  }
  h2 {
    font-family: "ClashDisplay-Variable", system-ui, sans-serif;
    font-weight: 600;
  }
  h3 {
    font-family: "ClashDisplay-Variable", system-ui, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1px;
  }
  a {
    text-decoration-line: none;
  }
  a:hover {
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
